doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/css/main.css')
    link(rel='stylesheet', href='/css/normalize.css')
    script(src='/lib/socket.io.js')
    script(src='/lib/jquery.min.js')
    script(src='/lib/phaser.min.js')
    script(src='/lib/angular/angular.min.js')
    script(src='/lib/angular/angular-route.min.js')
    script(src='/lib/sha256.js')
    script(src='/lib/jade.min.js')

    script(src='js/core.js')
    script(src='js/utils.js')
    script(src='js/net/server-client-event.js')
    script(src='js/net/client-server-event.js')

    script(src='js/model/core/ieventable.js')
    script(src='js/model/core/object-manager.js')
    script(src='js/model/base/object-array-manager.js')

    script(src='js/res/audio-res.js')
    script(src='js/model/core/core.js')
    script(src='js/model/core/vector.js')
    script(src='js/model/character-event.js')
    script(src='js/model/game-manager.js')
    script(src='js/net/client.js')

    script(src='js/model/base/player.js')
    script(src='js/model/base/room.js')
    script(src='js/model/base/base-model.js')
    script(src='js/model/game-model/base-character.js')
    script(src='js/model/game-model/character.js')
    script(src='js/model/game-model/wooden-box.js')
    script(src='js/model/game-model/weapon-prop.js')
    script(src='js/model/bullet.js')
    script(src='js/model/ui/base-ui.js')
    script(src='js/model/ui/character-ui.js')
    script(src='js/model/ui/energy-bar.js')
    script(src='js/model/ui/life-bar.js')
    script(src='js/model/arena-object-factory.js')
    script(src='js/model/game-model/character-controller.js')
    script(src='js/utility/game-menu.js')
    script(src='js/boot.js')
    script(src='js/scenes/load.js')
    script(src='js/scenes/lobby.js')
    script(src='js/scenes/create-room.js')
    script(src='js/scenes/game-room.js')
    script(src='js/scenes/arena.js')
    
  body
    block content
