doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/css/main.css')
    link(rel='stylesheet', href='/css/normalize.css')
    script(src='js/lib/socket.io.js')
    script(src='js/lib/phaser.min.js')
    script(src='js/res/audio-res.js')
    script(src='js/model/socket-client.js')
    script(src='js/model/math-utils.js')
    script(src='js/model/ieventable.js')
    script(src='js/model/core.js')
    script(src='js/model/character.js')
    script(src='js/model/bullet.js')
    script(src='js/model/arena-object-factory.js')
    script(src='js/model/character-controller.js')
    script(src='js/boot.js')
    script(src='js/load/load.js')
    script(src='js/lobby/lobby.js')
    script(src='js/create-room/create-room.js')
    script(src='js/quick-join/quick-join.js')
    script(src='js/game-room/game-room.js')
    script(src='js/arena/arena.js')
    
  body
    block content
