doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/css/main.css')
    link(rel='stylesheet', href='/css/normalize.css')
    script(src='js/socket.io.js')
    script(src='js/socket-client.js')
    script(src='js/phaser.min.js')
    script(src='js/math-utils.js')
    script(src='js/core.js')
    script(src='js/boot.js')
    script(src='js/game-room.js')
    script(src='js/create-room.js')
    script(src='js/quick-join.js')
    script(src='js/arena.js')
    script(src='js/lobby.js')
  body
    block content
